.wrap {
    margin: 0;
    padding: 0;
    width: 100%;
}

#head {
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    color: #29b078;
}

#head a {
    padding-left: 0.5em;
}

/*导航*/
#navs {
    padding-right: 18%;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

#topnavs {
    font-size: 1.5em;
    color: #ffffff;
    background-color: #29b078;
}

.navbar {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 2em;
    background-color: #29b078;
}

.log {
    padding-left: 10%;
    float: left;
}

.navbar-nav li {
    font-size: 1.2em;
}

.navbar-nav a {
    color: #ffffff !important;
    line-height: 2em !important;
    background-color: #29b078 !important;
}

.navbar-nav li:hover {
    border-bottom: #ffffff solid 3px;
}

.navbar-nav .active {
    border-bottom: solid 3px #ffffff;
}

/*导航二*/
.subnav {
    height: 4em;
    line-height: 4em;
    display: none;
    float: right;
}

#sub {
    display: none;
    clear: both;
    text-align: center;
    background-color: #29b078;
}

#sub ul {
    margin: 0;
    padding: 0;
}

#sub li {
    list-style-type: none;
    height: 2em;
    line-height: 2em;
    border-bottom: #ffffff solid 1px;
    width: 100%;
}

#sub a {
    color: #ffffff;
}

#sub a:link {
    text-decoration: none;
}

/*面包屑*/
.breadcrumb {

    background-color: #fafafa;
}

.breadcrumb > li + li:before {
    color: #000000;
    content: ">";
    padding: 0 5px;
}

.breadcrumb a {
    font-size: 1.3em;
    color: #000000;
}

.breadcrumb .active {
    font-size: 1.3em;
    color: #29b078;
}

/*内容开始*/
#mainbody {
    padding: 2em 5%;
    font-size: 0.9em;
    color: darkgray;
    background-color: #fafafa;
}

.title {
    padding: 3em 0;
    font-size: 2em;
    font-weight: bold;
    color: #000000;
}

.one {
    padding-top: 5em;
}

.one h2 {
    font-size: 2em;
    color: #000000;
}

.feature {
    height: 14em;
}

.icon {
    padding-top: 1em;
    margin: 0 auto;
    text-align: center;
}

.texts {
    display: block;
    width: 15em;
    margin: 0 auto;

}

.statistical {
    height: 14em;
    margin: 0 auto;
}

.Dottedline {
    border-right: dashed gray 1px;
    height: 14em;
}

.line span {
    color: #29b078;
}

.line {
    width: 100%;
    margin: auto;
    padding-top: 2em;
    padding-left: 10%;
    display: block;
    line-height: 2em;
    color: darkgray;
}

/*two*/
.box {
    height: 6.5em;
}

.two img {
    padding-top: 1em;
    margin-right: -8%;
    float: right;
}

.orders {
    margin: auto;
}

.num {
    display: inline-block;
    float: left;
    width: 6.2em;
    height: 6.2em;
    line-height: 6.2em;
    text-align: center;
    background: url("../images/ground0.png") no-repeat;
}

.state {
    float: left;
    width: 9em;
    display: inline-block;
    text-align: left;
    padding-top: 1.3em;
    padding-left: 1em;
}

/*three*/
.student {
    margin: 2em auto;
    width: 16em;
    height: 23em;
    border: 1px solid beige;
    background-color: #ffffff;
}

.names {
    display: inline-block;
    width: 100%;
    margin: 1em auto;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: #000000;
}

.introduce {
    display: inline-block;

    padding: 0 10%;
    text-align: left;
    line-height: 2em;
    font-size: 0.7em;
    color: darkgray;
}

/*fore*/
.fore {
    margin: auto;
}

.qylog {
    padding: 0;
    margin: 0;
    height: 12em;
}

.qylog img {
    display: block;
    margin: 0 auto;
}

/*页尾*/
.foot {
    clear: both;
}

.foot .row {
    margin: 1px 10%;
    padding: 0;
}

.foot h4 {
    padding-top: 1em;
    text-align: center;
    font-weight: bold;
}

.links li {
    float: left;
    width: 10%;
    list-style-type: disc;;
}

.about {
    background-color: #29b078;
    color: #ffffff;
}

.about ul {
    list-style-type: none;
}

.about a {
    color: #ffffff;
}

.big {
    float: left;
    font-size: 1.2em;
    width: 100%;
    color: #ffffff;
}

.lefoot {
    display: inline-block;
    float: left;
    width: 30%;
    line-height: 5em;
}

.lefoot li {
    float: left;
    width: 100%;
    line-height: 20px;
}

.website {
    float: left;
    width: 60%;
    line-height: 3em;
}

.website li {
    float: left;
    width: 40%;
    margin-right: 10%;
}

.Qrcode {
    float: left;
    width: 10%;
    padding-top: 3em;
}

.copyright {
    width: 100%;
    float: left;
    text-align: center;
}

/*响应式布局*/
@media screen and (max-width: 1180px) {
    .orders img {
        margin-right: -2.5em;
    }
}

@media screen and (max-width: 1065px) {
    .orders img {
        display: none;
    }

}

@media screen and (max-width: 970px) {
    .orders {
        margin-left: 11%;
        height: 6.5em;
    }

    .nullbox {
        display: none;
    }

    .links li {
        width: 20%;
    }
}

@media screen and (max-width: 768px) {
    #navs {
        display: none;
    }

    .subnav {
        display: block;
    }

    .orders {
        margin-top: 1em;
        margin-left: 33%;
    }

    .state {
        width: 12em;
    }

    .lefoot {
        width: 50%;
    }

    .Qrcode {
        float: right;
        padding-top: 0;
    }

}

@media screen and (max-width: 480px) {
    #head .col-xs-6 {
        width: 100%;
    }

    #head a {
        padding-left: 0;
    }

    .orders {
        margin-left: 0;
    }

    .num {
        margin-left: 33%;
    }

    .state {
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }

    .log {
        padding-left: 0;
    }

    .links, .Dottedline {
        display: none;
    }

    .statistical {
        padding: 0;
        padding-top: 1em;
        width: 100%;
        margin: auto;
    }

    .line {
        width: 50%;
    }

    .lefoot, .website, .Qrcode {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    body {
        min-width: 300px;
    }

    .log {
        width: 80%;
    }

    .log img {
        width: 80%;
    }

    .line {
        padding-left: 0;
    }

    .subnav {
        height: 2em;
        line-height: 2em;
    }

}
